<html>
<head>
<title>signup</title>
</head>
<body>
	<h1>SIGNUP</h1>
	<form method="post" action="/signup">
	Username:<input type="text" name="username" id="username"/><br>
	Password:<input type="Password" name="Password" id="Password"><br>
	Re-Password:<input type="Password" name="rePassword" id="rePassword"><br>
	<button id='submit' type="submit">signup</button>
	</form>
</body>
</html>